<h1>Student App</h1>

<ul>
  <li *ngFor="let x of students"> <!--Looping the name and the age of each student from API-->
    {{x.name}} - {{x.age}} <!--Printing the name and the age of each student-->
  </li>
</ul> <!--(ul) anf (li) creates unordered lists-->

<ol>
  @for(student of students; track student){ <!--Looping the name and the age of each student from API-->
    <li>{{student.name}} - {{student.age}}</li><!--Printing the name and the age of each student-->
  }
</ol>
<!--(ol) ordered element that creates a list that starts from 1-->

<h1>Weather in Galway</h1>
@for(w of weather; track w){ <!--Getting the weather from the API-->
  <p>{{w.main}} - {{w.description}}</p>
}

<p>{{temperature}}</p>  <!-- Display the temperature from API requesr-->
